<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org.dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.brd.board.DAO.BoardDAO">
  <select id="getBoardList" resultType="com.study.brd.board.VO.Board">
    SELECT
      *
    FROM (
        SELECT
          BOARD_SEQ
          , BOARD_RE_REF
          , BOARD_RE_LEV
          , BOARD_RE_SEQ
          , BOARD_WRITER
          , BOARD_SUBJECT
          , BOARD_CONTENT
          , BOARD_HITS
          , DEL_YN
          , INS_USER_ID
          , INS_DATE
          , UPD_USER_ID
          , UPD_DATE
        FROM BOARD.TB_BOARD
        ORDER BY BOARD_RE_REF DESC, BOARD_RE_SEQ ASC
      ) T1
    LIMIT #{rowNo}, #{size}
  </select>
  
  <select id="getBoardCnt" resultType="int">
    SELECT
      COUNT( BOARD_SEQ )
    FROM BOARD.TB_BOARD
  </select>
  
  <select id="getBoardDetail" parameterType="com.study.brd.board.VO.Board" resultType="com.study.brd.board.VO.Board">
    SELECT BOARD_SEQ
    , BOARD_RE_REF
    , BOARD_RE_LEV
    , BOARD_RE_SEQ
    , BOARD_WRITER
    , BOARD_SUBJECT
    , BOARD_CONTENT
    , BOARD_HITS
    , DEL_YN
    , INS_USER_ID
    , DATE_FORMAT(INS_DATE, '%Y-%m-%d %H:%i:%s') AS INS_DATE
    , UPD_USER_ID
    , DATE_FORMAT(UPD_DATE, '%Y-%m-%d %H:%i:%s') AS UPD_DATE
    FROM BOARD.TB_BOARD
    WHERE BOARD_SEQ = #{board_seq}
  </select>
  
  <update id="updateBoardHits" parameterType="com.study.brd.board.VO.Board">
    UPDATE TB_BOARD
      SET BOARD_HITS = BOARD_HITS + 1
    WHERE BOARD_SEQ = #{board_seq}
  </update>
  
  <delete id="deleteBoard" parameterType="com.study.brd.board.VO.Board">
    DELETE
    FROM TB_BOARD
    WHERE BOARD_SEQ = #{board_seq}
  </delete>
  
  <insert id="insertBoard" parameterType="com.study.brd.board.VO.Board" keyProperty="board_seq">
    <selectKey resultType="int" keyProperty="board_re_ref" order="BEFORE">
      SELECT
        IFNULL(
          MAX(BOARD_RE_REF), 0
        ) + 1
      FROM
        TB_BOARD
    </selectKey>
    INSERT INTO TB_BOARD (
        BOARD_RE_REF
      , BOARD_RE_LEV
      , BOARD_RE_SEQ
      , BOARD_SUBJECT
      , BOARD_WRITER
      , BOARD_CONTENT
      , INS_USER_ID
      , INS_DATE
      , UPD_USER_ID
      , UPD_DATE
    ) VALUES (
        #{board_re_ref}
      , 0
      , 0
      , #{board_subject}
      , #{board_writer}
      , #{board_content}
      , #{board_writer}
      , NOW()
      , #{board_writer}
      , NOW()
    )
    <!--
    <selectKey resultType="int" keyColumn="board_seq" keyProperty="board_seq" order="AFTER">
      SELECT LAST_INSERT_ID() AS BOARD_SEQ
    </selectKey>
    -->
    
  </insert>
  
  <insert id="insertBoardFail" parameterType="com.study.brd.board.VO.Board" keyProperty="board_seq">
    INSERT INTO TB_BOARD (
        BOARD_RE_REF
      , BOARD_RE_LEV
      , BOARD_RE_SEQ
      , BOARD_SUBJECT
      , BOARD_WRITER
      , BOARD_CONTENT
      , INS_USER_ID
      , INS_DATE
      , UPD_USER_ID
      , UPD_DATE
      <!-- , BOARD_SEQ -->
    ) VALUES (
        0
      , 0
      , 0
      , #{board_subject}
      , #{board_writer1}
      , #{board_content}
      , #{board_writer}
      , NOW()
      , #{board_writer}
      , NOW()
      <!-- , #{board_seq} -->
    )
    <selectKey resultType="int" keyColumn="board_seq" keyProperty="board_seq" order="AFTER">
      SELECT LAST_INSERT_ID() AS BOARD_SEQ
    </selectKey>
  </insert>
  
  
  <update id="updateBoard" parameterType="com.study.brd.board.VO.Board">
    UPDATE TB_BOARD
      SET
          BOARD_SUBJECT = #{board_subject}
        , BOARD_CONTENT = #{board_content}
        , UPD_USER_ID  = #{upd_user_id}
        , UPD_DATE = NOW()
    WHERE BOARD_SEQ = #{board_seq}
  </update>

  <select id="getBoardReplyInfo" parameterType="com.study.brd.board.VO.Board" resultType="com.study.brd.board.VO.Board">
    SELECT
        BOARD_SEQ
      , BOARD_RE_REF
      , BOARD_RE_LEV
      , BOARD_RE_SEQ
    FROM
      TB_BOARD
    WHERE
      BOARD_SEQ = #{board_parent_seq}
  </select>
  
  <update id="updateBoardReSeq" parameterType="com.study.brd.board.VO.Board">
    UPDATE TB_BOARD
      SET
          BOARD_RE_SEQ = BOARD_RE_SEQ + 1
        , UPD_USER_ID = 'NONMEMBER'
        , UPD_DATE = NOW()
    WHERE
      BOARD_RE_REF = #{board_re_ref}
    AND
      BOARD_RE_SEQ > #{board_re_seq}
  </update>

  <insert id="insertBoardReply" parameterType="com.study.brd.board.VO.Board">
    INSERT INTO TB_BOARD (
        BOARD_RE_REF
      , BOARD_RE_LEV
      , BOARD_RE_SEQ
      , BOARD_WRITER
      , BOARD_SUBJECT
      , BOARD_CONTENT
      , INS_USER_ID
      , INS_DATE
      , UPD_USER_ID
      , UPD_DATE
    ) VALUES (
        #{board_re_ref}
      , #{boare_re_lev} + 1
      , #{board_re_seq} + 1
      , #{board_writer}
      , #{board_subject}
      , #{board_content}
      , 'NONMEMBER'
      , NOW()
      , 'NONMEMBER'
      , NOW()
    )
  </insert>

</mapper>